@{
    ViewData["Title"] = "Home Page";
}

@* Html markup section where swagger is generated into : the "swagger-ui" element *@
<section id="Documentation" class="features">
    <div id="swagger-ui" class="swagged"></div>
</section>


@section Scripts {
    <script src="~/js/site.js"></script>
}